In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('./Dhana_LoanApplication_wip.csv', )

In [3]:
def add_missing_info(gr):
    df = pd.DataFrame(gr).reset_index(drop=True)
    MonthlyCost = df.loc[df['Activity'] == 'O_Create Offer', 'MonthlyCost'].iloc[0]
    Selected = df.loc[df['Activity'] == 'O_Create Offer', 'Selected'].iloc[0] # missing
    FirstWithdrawalAmount =  df.loc[df['Activity'] == 'O_Create Offer', 'FirstWithdrawalAmount'].iloc[0]
    Accepted =  df.loc[df['Activity'] == 'O_Create Offer', 'Accepted'].iloc[0] # missing
    CreditScore =  df.loc[df['Activity'] == 'O_Create Offer', 'CreditScore'].iloc[0]
    NumberOfTerms =  df.loc[df['Activity'] == 'O_Create Offer', 'NumberOfTerms'].iloc[0]
    OfferedAmount = df.loc[df['Activity'] == 'O_Create Offer', 'OfferedAmount'].iloc[0]
    
    before_cr_offer = list(df.index)[0:df.index[df['Activity'] == 'O_Create Offer'].tolist()[0]]
    after_cr_offer = list(df.index)[df.index[df['Activity'] == 'O_Create Offer'].tolist()[0]:]
    
    df_before = df.iloc[before_cr_offer]
    df_before['MonthlyCost']=0
    df_before['Selected']='missing'
    df_before['FirstWithdrawalAmount']=0
    df_before['Accepted']='missing'
    df_before['CreditScore']=0
    df_before['NumberOfTerms']=0
    df_before['OfferedAmount']=0
    
    
    df_after = df.iloc[after_cr_offer]
    df_after['MonthlyCost']=df.loc[df['Activity'] == 'O_Create Offer', 'MonthlyCost'].iloc[0]
    df_after['Selected']=df.loc[df['Activity'] == 'O_Create Offer', 'Selected'].iloc[0]
    df_after['FirstWithdrawalAmount']=df.loc[df['Activity'] == 'O_Create Offer', 'FirstWithdrawalAmount'].iloc[0]
    df_after['Accepted']=df.loc[df['Activity'] == 'O_Create Offer', 'Accepted'].iloc[0]
    df_after['CreditScore']=df.loc[df['Activity'] == 'O_Create Offer', 'CreditScore'].iloc[0]
    df_after['NumberOfTerms']=df.loc[df['Activity'] == 'O_Create Offer', 'NumberOfTerms'].iloc[0]
    df_after['OfferedAmount']=df.loc[df['Activity'] == 'O_Create Offer', 'OfferedAmount'].iloc[0]

    df = pd.concat([df_before, df_after])
    return df

In [4]:
res_df = df.groupby("Case ID").apply(add_missing_info)
res_df = res_df.reset_index(drop=True)
res_df

,Case ID,Activity,LoanGoal,ApplicationType,RequestedAmount,Action,org:resource,lifecycle:transition,time:timestamp,EventID,EventOrigin,MonthlyCost,Selected,FirstWithdrawalAmount,Accepted,CreditScore,NumberOfTerms,OfferedAmount,OfferID,WIP
0,Application_1000158214,A_Create Application,Home improvement,New credit,12500.0,Created,User_1,complete,2016-02-06 10:14:26+00:00,Application_1000158214,Application,0.00,missing,0.0,missing,0.0,0.0,0.0,NaN,4884
1,Application_1000158214,A_Submitted,Home improvement,New credit,12500.0,statechange,User_1,complete,2016-02-06 10:14:26+00:00,ApplState_277536765,Application,0.00,missing,0.0,missing,0.0,0.0,0.0,NaN,4884
2,Application_1000158214,W_Handle leads,Home improvement,New credit,12500.0,Created,User_1,schedule,2016-02-06 10:14:27+00:00,Workitem_176988109,Workflow,0.00,missing,0.0,missing,0.0,0.0,0.0,NaN,4884
3,Application_1000158214,W_Handle leads,Home improvement,New credit,12500.0,Deleted,User_1,withdraw,2016-02-06 10:15:36+00:00,Workitem_895982768,Workflow,0.00,missing,0.0,missing,0.0,0.0,0.0,NaN,4885
4,Application_1000158214,W_Complete application,Home improvement,New credit,12500.0,Created,User_1,schedule,2016-02-06 10:15:36+00:00,Workitem_1409452454,Workflow,0.00,missing,0.0,missing,0.0,0.0,0.0,NaN,4885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761367,Application_999993812,W_Call incomplete files,Caravan / Camper,New credit,30000.0,Obtained,User_41,resume,2016-10-20 08:19:28+00:00,Workitem_1102967432,Workflow,349.13,True,30000.0,True,877.0,102.0,30000.0,NaN,8562
761368,Application_999993812,W_Call incomplete files,Caravan / Camper,New credit,30000.0,Released,User_41,suspend,2016-10-20 08:21:59+00:00,Workitem_454743075,Workflow,349.13,True,30000.0,True,877.0,102.0,30000.0,NaN,8562
761369,Application_999993812,A_Pending,Caravan / Camper,New credit,30000.0,statechange,User_68,complete,2016-10-24 06:24:30+00:00,ApplState_1253134444,Application,349.13,True,30000.0,True,877.0,102.0,30000.0,NaN,8391
761370,Application_999993812,W_Call incomplete files,Caravan / Camper,New credit,30000.0,Deleted,User_68,ate_abort,2016-10-24 06:24:30+00:00,Workitem_1302194036,Workflow,349.13,True,30000.0,True,877.0,102.0,30000.0,NaN,8391
761371,Application_999993812,O_Accepted,Caravan / Camper,New credit,30000.0,statechange,User_68,complete,2016-10-24 06:24:30+00:00,OfferState_1927291643,Offer,349.13,True,30000.0,True,877.0,102.0,30000.0,Offer_913122697,8391

In [13]:
case_id_col = "Case ID"
activity_col = "Activity"
resource_col = 'org:resource'
timestamp_col = 'time:timestamp'
data = res_df
import numpy as np

def extract_timestamp_features(group):
    
    group = group.sort_values(timestamp_col, ascending=False, kind='mergesort')
    
    tmp = group[timestamp_col] - group[timestamp_col].shift(-1)
    tmp = tmp.fillna(pd.Timedelta(seconds=0))
    group["timesincelastevent"] = tmp.apply(lambda x: float(x / np.timedelta64(1, 'm'))) # m is for minutes

    tmp = group[timestamp_col] - group[timestamp_col].iloc[-1]
    tmp = tmp.fillna(pd.Timedelta(seconds=0))
    group["timesincecasestart"] = tmp.apply(lambda x: float(x / np.timedelta64(1, 'm'))) # m is for minutes

    group = group.sort_values(timestamp_col, ascending=True, kind='mergesort')
    group["event_nr"] = range(1, len(group) + 1)
    
    return group

def get_wip(date):
    return sum((dt_first_last_timestamps["start_time"] <= date) & (dt_first_last_timestamps["end_time"] > date))

In [14]:
import sys
case_id_col = "Case ID"
activity_col = "Activity"
resource_col = 'org:resource'
timestamp_col = 'time:timestamp'
data = res_df
    
# add event duration
data[timestamp_col] = pd.to_datetime(data[timestamp_col])
data["timesincemidnight"] = data[timestamp_col].dt.hour * 60 + data[timestamp_col].dt.minute
data["month"] = data[timestamp_col].dt.month
data["weekday"] = data[timestamp_col].dt.weekday
data["hour"] = data[timestamp_col].dt.hour

# add features extracted from timestamp
print("Extracting timestamp features...")
sys.stdout.flush()
data = data.groupby(case_id_col).apply(extract_timestamp_features)

# add inter-case features
print("Extracting wip ...")
sys.stdout.flush()
data = data.sort_values([timestamp_col], ascending=True, kind='mergesort')
dt_first_last_timestamps = data.groupby(case_id_col)[timestamp_col].agg([min, max])
dt_first_last_timestamps.columns = ["start_time", "end_time"]
data["wip"] = data[timestamp_col].apply(get_wip)
data

Extracting timestamp features...
Extracting open cases...

,Case ID,Activity,LoanGoal,ApplicationType,RequestedAmount,Action,org:resource,lifecycle:transition,time:timestamp,EventID,...,OfferID,WIP,timesincemidnight,month,weekday,hour,timesincelastevent,timesincecasestart,event_nr,wip
628735,Application_652823628,A_Create Application,Existing loan takeover,New credit,20000.0,Created,User_1,complete,2016-01-01 09:51:15+00:00,Application_652823628,...,NaN,1,591,1,4,9,0.0,0.00,1,1
628736,Application_652823628,A_Submitted,Existing loan takeover,New credit,20000.0,statechange,User_1,complete,2016-01-01 09:51:15+00:00,ApplState_1582051990,...,NaN,1,591,1,4,9,0.0,0.00,2,1
628737,Application_652823628,W_Handle leads,Existing loan takeover,New credit,20000.0,Created,User_1,schedule,2016-01-01 09:51:15+00:00,Workitem_1298499574,...,NaN,1,591,1,4,9,0.0,0.00,3,1
628738,Application_652823628,W_Handle leads,Existing loan takeover,New credit,20000.0,Deleted,User_1,withdraw,2016-01-01 09:52:36+00:00,Workitem_1673366067,...,NaN,1,592,1,4,9,0.0,1.35,4,1
628739,Application_652823628,W_Complete application,Existing loan takeover,New credit,20000.0,Created,User_1,schedule,2016-01-01 09:52:36+00:00,Workitem_1493664571,...,NaN,1,592,1,4,9,0.0,1.35,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96889,Application_1241310529,A_Cancelled,Existing loan takeover,New credit,33000.0,statechange,User_24,complete,2016-12-31 09:23:56+00:00,ApplState_874069529,...,NaN,1,563,12,5,9,0.0,335437.65,58,0
96890,Application_1241310529,O_Cancelled,Existing loan takeover,New credit,33000.0,statechange,User_24,complete,2016-12-31 09:23:56+00:00,OfferState_637896353,...,Offer_421064272,1,563,12,5,9,0.0,335437.65,59,0
96891,Application_1241310529,O_Cancelled,Existing loan takeover,New credit,33000.0,statechange,User_24,complete,2016-12-31 09:23:56+00:00,OfferState_1968320821,...,Offer_71051767,1,563,12,5,9,0.0,335437.65,60,0
96892,Application_1241310529,W_Call incomplete files,Existing loan takeover,New credit,33000.0,Deleted,User_24,complete,2016-12-31 09:23:56+00:00,Workitem_2001684779,...,NaN,1,563,12,5,9,0.0,335437.65,61,0
96893,Application_1241310529,O_Cancelled,Existing loan takeover,New credit,33000.0,statechange,User_24,complete,2016-12-31 09:23:56+00:00,OfferState_1651891815,...,Offer_381000250,1,563,12,5,9,3.1,335437.65,62,0

In [15]:
def add_label(file):
    
    # function to cheack if a case contains A_Pending activity or not
    def check_A_Pending(gr):
        df = pd.DataFrame(gr)
        if  "A_Pending" in list(df['Activity']):
            df['label'] = "regular"
        else:
            df['label'] = "deviant"
        return df
    
    # read data and del old label
    df = file
    # add new label for each case based on A_Pending
    df = df.groupby('Case ID').apply(check_A_Pending)
    df = df.reset_index(drop=True)
    return df

# function to add noOfOffers column to the original data based on "O_Created" Activity
def add_No_Of_Offers(df):
    # get all observations with O_Created activity
    tmp_df = df[df['Activity'] == "O_Created"]  # to count offers
    # count numbe rof offers for each case
    tmp_df2 = pd.DataFrame(tmp_df.groupby(['Case ID'])['Activity'].count()).reset_index()
    tmp_df2.columns = ['Case ID', 'NumberOfOffers']
    df = pd.merge(tmp_df2, df, on='Case ID')
    return df

In [17]:
df = add_label(data)
df = add_No_Of_Offers(df)
df

,Case ID,NumberOfOffers,Activity,LoanGoal,ApplicationType,RequestedAmount,Action,org:resource,lifecycle:transition,time:timestamp,...,WIP,timesincemidnight,month,weekday,hour,timesincelastevent,timesincecasestart,event_nr,wip,label
0,Application_1000158214,1,A_Create Application,Home improvement,New credit,12500.0,Created,User_1,complete,2016-02-06 10:14:26+00:00,...,4884,614,2,5,10,0.000000,0.000000,1,4884,regular
1,Application_1000158214,1,A_Submitted,Home improvement,New credit,12500.0,statechange,User_1,complete,2016-02-06 10:14:26+00:00,...,4884,614,2,5,10,0.000000,0.000000,2,4884,regular
2,Application_1000158214,1,W_Handle leads,Home improvement,New credit,12500.0,Created,User_1,schedule,2016-02-06 10:14:27+00:00,...,4884,614,2,5,10,0.016667,0.016667,3,4884,regular
3,Application_1000158214,1,W_Handle leads,Home improvement,New credit,12500.0,Deleted,User_1,withdraw,2016-02-06 10:15:36+00:00,...,4885,615,2,5,10,0.000000,1.166667,4,4885,regular
4,Application_1000158214,1,W_Complete application,Home improvement,New credit,12500.0,Created,User_1,schedule,2016-02-06 10:15:36+00:00,...,4885,615,2,5,10,0.000000,1.166667,5,4885,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761367,Application_999993812,1,W_Call incomplete files,Caravan / Camper,New credit,30000.0,Obtained,User_41,resume,2016-10-20 08:19:28+00:00,...,8562,499,10,3,8,1174.883333,189742.400000,31,8562,regular
761368,Application_999993812,1,W_Call incomplete files,Caravan / Camper,New credit,30000.0,Released,User_41,suspend,2016-10-20 08:21:59+00:00,...,8562,501,10,3,8,2.516667,189744.916667,32,8562,regular
761369,Application_999993812,1,A_Pending,Caravan / Camper,New credit,30000.0,statechange,User_68,complete,2016-10-24 06:24:30+00:00,...,8391,384,10,0,6,0.000000,195387.433333,33,8390,regular
761370,Application_999993812,1,W_Call incomplete files,Caravan / Camper,New credit,30000.0,Deleted,User_68,ate_abort,2016-10-24 06:24:30+00:00,...,8391,384,10,0,6,0.000000,195387.433333,34,8390,regular
761371,Application_999993812,1,O_Accepted,Caravan / Camper,New credit,30000.0,statechange,User_68,complete,2016-10-24 06:24:30+00:00,...,8391,384,10,0,6,5642.516667,195387.433333,35,8390,regular

In [19]:
del df['OfferID']
df.columns

Index(['Case ID', 'NumberOfOffers', 'Activity', 'LoanGoal', 'ApplicationType',
       'RequestedAmount', 'Action', 'org:resource', 'lifecycle:transition',
       'time:timestamp', 'EventID', 'EventOrigin', 'MonthlyCost', 'Selected',
       'FirstWithdrawalAmount', 'Accepted', 'CreditScore', 'NumberOfTerms',
       'OfferedAmount', 'WIP', 'timesincemidnight', 'month', 'weekday', 'hour',
       'timesincelastevent', 'timesincecasestart', 'event_nr', 'wip', 'label'],
      dtype='object')

In [20]:
df.to_csv('DahnaLoanApplication_prepared.csv', index=False, sep=';')